body {
    font-family: Georgia;
    background-color: grey;
    margin-top: 75px;
}
p {
  color: red;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 200%;
}

.normal {
    font-weight: bold;
}

.img-medium {
    height: 200px;

}

